<table>
    <tbody>
        <tr>
            <th>Order Detail ID</th>
            <td>:</td>
            <td>
                <%= db_rows_array[0].order_detail_id  %>
            </td>
        </tr>
        <tr>
            <th>Order ID</th>
            <td>:</td>
            <td>
                <%= db_rows_array[0].order_id %>
            </td>

        </tr>
        <tr>
            <th>Product</th>
            <td>:</td>
            <td>
                <%= db_rows_array[0].product_id %>
            </td>

        </tr>
        <tr>
            <th>Quantity</th>
            <td>:</td>
            <td>
                <%= db_rows_array[0].quantity %>
            </td>

        </tr>
        <tr>
            <th>Price</th>
            <td>:</td>
            <td>
                <%= db_rows_array[0].price %>
            </td>

        </tr>
        
    </tbody>
</table>